.Container{
  
    width:85vw;
    align-content: center;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height:100vh;
    font-family:sans-serif;
}
.Back{
    color:black;
    font-weight:bold;
    margin-top:18px;
    margin-left:-13px;
 
 }
 .Back>button{
     border:none;
     background-color:transparent;
 }
 .Back>button>svg{
     font-weight:bold;
 }
 .username{
    font-weight:bold;
    font-size:25px;
    margin-top:15px;
 }
 .lastbutton{
    width:100%;
    display: block;
    padding: 0.5rem 1.2rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;display: flex;
}
.lastbutton>button{
    width:100%;
    height:50px;
    color:white;
    font-weight:bold;
}